.details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.details-card img {
  margin-top: -9rem;
  position: relative;
  bottom: 10%;
  z-index: 10;
  height: 50vh;
}

.details-card-name {
  display: flex;
  gap: 1rem;
}

.details-card-name h2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--text-blue);
  font-family: "roboto900", Arial, Helvetica, sans-serif;
  color: var(--second-color);
}

.details-card h2 {
  font-size: 3.5rem;
}

.details-card h3 {
  font-size: 2rem;
}

.details-card h2::first-letter {
  text-transform: uppercase;
}

.details-card-characteristics {
  width: 25%;
  border: 0px solid black;
  border-radius: 10px;
  padding: 10px;
  background: rgb(146, 250, 160);
}

.details-card-types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-box {
  height: 50%;
  position: relative;
  width: 100vw;
  border-radius: 20px;
}

.img-background {
  height: 50%;
  background: var(--second-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 25%;
  border-radius: 20px;
}

.attributes {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-left: 25rem;
  margin-bottom: 5rem;
}

.btn-violett {
  padding-left: 60px;
  padding-right: 60px;
  background-color: blueviolet;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 11px;
}

.btn-green {
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 11px;
}

.skills h4 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: "roboto900", Arial, Helvetica, sans-serif;
  color: var(--second-color);
  margin-left: 25rem;
}
