.details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

.details-card img {
  max-width: 100%;
}

.details-card-name {
  display: flex;
  gap: 1rem;
}

.details-card h2 {
  font-size: 3rem;
}

.details-card h3 {
  font-size: 2rem;
}

.details-card h2::first-letter {
  text-transform: uppercase;
}

.details-card-characteristics {
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}

.details-card-types {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
