.navMenu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: var(--main-color);
	padding: 20px;
}
.navMenu .imgBox {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navMenu .imgBox img:first-child {
	width: 30%;
}

.navMenu h1 {
	color: var(--second-color);
	font-size: 3rem;
	line-height: 3.5rem;
	text-align: center;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: var(--text-blue);
	font-weight: 900;
	font-family: "roboto900", Arial, Helvetica, sans-serif;
}

.checkBoxBox {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gap);
	justify-items: center;
}
